{% extends "base.html" %}

{% block title %}Stock - OneNet{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1 class="text-center">Stock - OneNet</h1>
    </div>

    <div class="container">
        <div class="j_10086_iotapp" data-host="https://open.iot.10086.cn" data-view="d44e0422422d18db791d0e7f120af08b" data-pid="92743" data-appid="20871" style="height:200px;width:800px;"></div>
        <script src="//open.iot.10086.cn/static/files/develop/appembed2.js?v=3.0"></script>
    </div>
{% endblock %}